@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* header styles */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* sheared style */
.text-center{
    text-align: center;
}
.second-back{
    background-color: #FFF8F3;
}
.dark-2{
    color: #474747;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-des{
    font-size: 18px;
    color: #757575;
    font-weight: 300;
}
/* Nav Styles */
nav{
    display: flex;
    font-family: "Open Sans", serif;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-titel{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
nav li a{
    text-decoration: none;
    
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;

}
/* banner styles */
.banner-grit{
    color: #474747;
    font-size: 45px;
    font-family: "Open Sans", serif;
    font-weight: 600;

}
.banner-titel{
    font-family: "Open Sans", serif;
    font-size: 85px;
    font-weight: bold;
}
.bpp{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
    font-family: "Open Sans", serif;
}
.banner-contant{
    max-width: 580px;
}
/* main styles */
main{
    max-width: 1040px;
    margin: 0 auto;
    font-family: "Open Sans", serif;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    font-family: "Open Sans", serif;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    

}
.item-des{
    font-weight: 600;
}
.about-item{
    font-family: "Open Sans", serif;
    display: flex;
    justify-content: space-around;
    
}
/* skill section style */
.skills{
    font-family: "Open Sans", serif;

}
.skill-cont{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
}
/* resume section style */
.resume-cont{
    display: flex;
    gap: 24px;
}
.experiance-sub-titel{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experiance-des, .experiance-sub-titel{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.cv-downlode{
    margin-top: 50px;
}